<html>
    <head>
        <title>Add items</title>
        <style>
          table, th, td {
                border:1px solid black;
           }
        </style>
    </head>
    <body>
        <h1 style="text-align: center;">Gadget Store</h1>
        <table style="width:50%">
            <thead>
              <th>Gadget</th>
              <th>Price</th>
              <th>Warranty</th>
              <th>//</th>
              <th>!!</th>
            </th>
            <tbody>
              {% for x in data %}
              <tr>
                  <td><img src="{{ x.photo }}" alt="pic" width="150px" height="150px">{{ x.g_name }}</td>
                  <td>{{ x.g_price }}</td>
                  <td>{{ x.g_warranty }}</td>
                  <td><a href="/updategadget/{{x.id}}">Update</a></td>
                  <td><a href="/dltgadget/{{x.id}}">Delete</a></td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="/gadgetsform/">Add</a> &nbsp; <a href="/back_admin/">Back</a>
    </body>
</html>