<html>
    <head>
        <title>admin page</title>
        <style>
             div{
                border: 1px solid black;
                width: 300px;
                margin: auto;
                padding:10px;
                margin-bottom: auto;
                border-radius: 15px; 
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <h1>welcome Admin</h1>
        <div>
            <center>
                <ul>
                    <li><a href="/addgadget1/">Add Gadgets</a></li>
                    <li><a href="/usertable/">User Details</a></li>
                </ul>
            </center>
        </div>
    </body>
</html>