<html>
    <head>
        <title>Gadget Details</title>
        <style>
           table, th, td {
                border:1px solid black;
           }
        </style>
    </head>
    <body>
        <div>
            <h1 style="text-align: center;">Gadget Store</h1>
            <table style="width:50%">
                <tr>
                  <th>Gadget</th>
                  <th>Details</th>
                  <th>Price</th>
                  <th>Warranty</th>
                </tr>
                <tbody>
                    {% for x in data %}
                    <tr>
                        <td><img src="{{ x.photo }}" alt="pic" height="150px" width="150px">{{ x.g_name }}</td>
                        <td>{{ x.g_name }}</td>
                        <td>{{ x.g_price }}</td>
                        <td>{{ x.g_warranty }}</td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
              <a href="/back_user/">Back</a>
        </div>
    </body>
</html>