<html>
    <head>
        <title>Update Account</title>
        <style>
            div{
                border: 1px solid black;
                width: 350px;
                margin: auto;
                padding: 10px;
                border-radius: 5px;
            }
        </style>
    </head>
    <body><center> <h1>Gadget Store</h1></center>
        <div>
            
            <h2><center>Update Account</center></h2>
            <form action="/updateprofile1/{{x.id}}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>Username </label><input type="text" name="username" value="{{ x.username }}"><br><br>
                <label>Name</label><input type="text" name="name" value="{{ x.name }}"><br><br>
                <label>Gender</label>&nbsp;<input type="radio" name="gender" value="female">F 
                &nbsp; <input type="radio" name="gender" value="male">M <br><br>
                <label>Place</label><input type="text" name="place" value="{{ x.place }}"><br><br>
                <label>Phone</label> <input type="text" name="phone" value="{{ x.phone }}"><br><br>
                <label>Email</label> <input type="email" name="email" value="{{ x.email }}"><br><br>
                <label>Address</label><textarea name="address" cols="20" rows="5" >{{ x.address }}</textarea><br><br>
                <img src="{{ x.photo }}" height="200" width="200">
                <label>Upload Photo</label> <input type="file" name="photo" value="{{ x.photo }}"><br><br>
                <input type="submit" value="OK">  <a href="/back_user/">Back</a>
            </form>
        </div>
    </body>
</html>