<html>
    <head>
        <title>User page</title>
        <style>
            div{
                border: 1px solid black;
                width: 300px;
                margin: auto;
                padding:10px;
                margin-bottom: auto;
                border-radius: 15px; 
                margin-top: 100px;
            }
        </style>
    </head>
    <body>
        <h1>welcome {{ x }}</h1>
        <div>
            <h3>
                <ul>
                    <li><a href="/userprofile/">Profile</a></li>
                    <li><a href="/gadget1/">Gadget</a></li>
                    <li><a href="/viewmobile/">view mobile</a></li>
                    <li><a href="/less50000/">Under 50000/- Products</a></li>
                </ul>
            </h3>
            
        </div>
    </body>
</html>